section#accueil{
    padding: 25px;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }

section#accueil h2,h3{
    color: #6d5198;
    padding-left: 0;
}

section#accueil h2{
    padding-bottom: 25px;
}

figcaption{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    text-align: center;
}

.texte{
    font-size: 35px;
}

.img_perso{
    display: flex;
    margin-left: auto;
}

ul{
    list-style: none;
}