.formulaire{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: antiquewhite;
    padding: 10px;
}

.name{
    flex: 1 0 1rem;
}

.email{
    flex: 1 0 1rem;
}

.button{
    flex: 1 0 5rem;
    background-color: #c0b9a5;
    cursor: pointer;
}

input, button{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    padding-left: 10px;
}

/*.formulaire fieldset{
    
}


sélecteur plus spécifique

.form_nom{

}

.form_prenom{

}*/