.formulaire{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #e8dcfc;
    padding: 10px;
}

.name{
    flex: 1 0 1rem;
}

.email{
    flex: 1 0 1rem;
}

.button{
    /*flex: 1 0 946px;*/
    background-color: #967bc1;
    cursor: pointer;
}

input, button{
    width: 200px;
    height: 40px;
    border: 2px solid black;
    padding-left: 10px;
}

section#inscription{
    flex-flow: column;
  }

  section#inscription h2{
    padding: 25px;
    color: #6d5198;
  }
